{% extends "tickers/base.html" %} {% block content %}

<h1>Top Stocks by YTD Returns</h1>
<a href="{% url 'single_ticker' %}">Single ticker page</a>

<div class="container">
  <!-- Best YTD Returns -->
  <div class="table-wrapper">
    <h2>Best YTD Returns</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>YTD Return (%)</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in ytd_best %}
        <tr>
          <td>{{ ticker.ticker }}</td>
          <td>{{ ticker.pct_change|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No top performers found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Worst YTD Returns -->
  <div class="table-wrapper">
    <h2>Worst YTD Returns</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>YTD Return (%)</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in ytd_worst %}
        <tr>
          <td>{{ ticker.ticker }}</td>
          <td>{{ ticker.pct_change|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No bottom performers found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
