{% extends "tickers/base.html" %} {% block content %}
<h1>Single stock screener</h1>
<a href="{% url 'home' %}">Back to main page</a>
<div class="container">
  <div class="table-wrapper">
    <h2>Single ticker page</h2>
    <form method="post" action="">
      {% csrf_token %}
      <input
        type="text"
        name="ticker"
        placeholder="Enter a ticker (e.g., AAPL)"
        value="{{ ticker_input }}"
      />
      <br />
      <button type="submit">Lookup</button>
    </form>
    <h3>Nvidia $NVDA</h3>
    <!-- prettier-ignore -->
    <p>Previous close: {{ last_working_day.close|floatformat:2 }} </p>
    <p>One year return: {{ one_year_return|floatformat:2 }}%</p>
    <img src="/chart/" alt="Dynamic Chart" />
  </div>
</div>
<!-- Display ticker data -->
<div class="output">
  {% if ticker_data %}
  <p><strong>Symbol:</strong> {{ ticker_data.ticker }}</p>
  <p><strong>Date:</strong> {{ ticker_data.date }}</p>
  <p><strong>Price:</strong> ${{ ticker_data.price|floatformat:2 }}</p>
  <p>
    <strong>YTD Return:</strong> {{ ticker_data.ytd_return|floatformat:2 }}%
  </p>
  {% elif ticker_input %}
  <p>No data found for ticker "{{ ticker_input }}".</p>
  {% else %}
  <p>Enter a ticker above to see its details.</p>
  {% endif %}
</div>
{% endblock content %}
